p {
  font-family: Arial;
}

h1 {
  color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

.publish-time{
  text-color: gray;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;
}

/*The browser has an order by which it decides CSS styles to be displayed, least
specific, to most specific. The least specific CSS selector is the tag selector, the
next specific is the class selector, and the most specific is the id selector. It's
best to select html with the least specific selector so if a style needs to be overwritten,
the next specific selector can be used.*/
